#let(head = [
    "title": $system.variables["aggregator.page.title"],
    "description": $system.variables["aggregator.page.description"],
    "css": metadata.css,
    "js": metadata.js
])
#define(body):
<div id="feed-items" class="container">
    <div class="margin">
        <header class="margin-bottom">
            <h1 class="margin-top">#(head.title)</h1>
            <p>#(head.description)</p>
        </header>

        <section>
            #for(group in groups):
                #let(dateString = Date(timeStamp: group.day, fixedFormat: $app.dateFormats.date, timeZone: $app.timezone))
                #let(dayString = Date(timeStamp: group.day, fixedFormat: "EEEE", timeZone: $app.timezone))
            <div class="margin-bottom-xl">
                <header>
                    <h3 class="margin-bottom-zero">#(dayString)</h3>
                    <p class="margin-top-zero margin-bottom color-gray"><span>#(group.items.count()) item#if(group.items.count() != 1):s#endif</span> &middot; #(dateString)</p>
                </header>
                <section>
                #for(item in group.items):
                    <article class="padding background border-radius-s margin-bottom-s shadow-l">
                        <img src="#(item.feed.imageKey.resolve())" alt="#(item.title)" class="size border-radius-full border border-color-6">
                        <h4 class="h5 margin-zero">#(item.feed.title)</h4>
                        <h2 class="h4 margin-zero"><a href="#(item.url)" target="_blank">#(item.title)</a></h2>
                    </article>
                #endfor
                </section>
            </div>
            #endfor
        </section>
    </div>
</div>
#enddefine
#inline("Frontend/Index")
