#let(table = [
    "title": "Feed items",
    "key": "aggregator.items",
    "create": false
])

#define(css):
tr {
    grid-template-columns: 1fr 1fr;
}
@media (min-width: 600px) {
    tr {
        grid-template-columns: 1fr 1fr 126px;
    }
}
#enddefine
#define(toolbarRight):
    <a href="#($req.url.path.trimLast())">#svg("rss")</a>
#enddefine
#define(breadcrumb):
    <li><a href="#($req.url.path.trimLast(2))">Feeds</a></li>
#enddefine
#define(th):
    #var(link = nil)
    <th class="td:center td:compact:hidden">URL</th>
    <th class="td:center td:compact:hidden">Date</th>
    <th class="td:center td:compact:hidden">Visibility</th>
#enddefine
#define(tr):
    #for(item in list.items):
<tr>
    <td class="td:left m:h:s td:compact:col2"><a href="#(item.url)" target="_blank">#(item.title)</a></td>
    #let(dateString = Date(timeStamp: item.date, fixedFormat: $app.dateFormats.date, timeZone: $app.timezone))
    <td class="td:center td:compact:col2">#(dateString)</td>
    <td class="td:center td:compact:col2"><a id="#(item.id)" href="#($req.url.path)#(item.id)/toggle/">#if(item.visibility == "visible"):#svg("eye")#else:#svg("eye-off")#endif</a></td>
</tr>
    #endfor
#enddefine

#inline("Admin/Table")
