#let(form = [
    "id": formId,
    "token": formToken,
    "title": "Feed",
    "key": "aggregator.feeds",
    "multipart": true,
    "modelId": modelId,
    "list": [
        "title": "Feeds",
        "url": "/admin/aggregator/feeds/"
    ],
    "nav": []
])

#if((modelId != nil) && UserHasPermission("aggregator.feed.items.list")):
    #(form.nav.append(["label": "Feed items", "link": "/admin/aggregator/feeds/" + modelId + "/items"]))
#endif

#define(fields):
    #var(field = nil)

    #(field = ["id": "image", "class": "circular", "data": fields.image, "required": true, "accept": "image/jpeg"])
    #inline("Common/Fields/File")

    #(field = ["id": "title", "required": true, "data": fields.title])
    #inline("Common/Fields/Text")
    
    #(field = ["id": "url", "required": true, "data": fields.url])
    #inline("Common/Fields/Text")

#enddefine

#inline("Admin/Form")


