#let(detail = [
    "title": "Feed",
    "key": "aggregator.feeds",
    "list": [
        "title": "Feeds",
        "url": "/admin/aggregator/feeds/"
    ],
    "nav": []
])

#if(UserHasPermission("aggregator.feed.items.list")):
    #(detail.nav.append(["label": "Feed items", "link": "/admin/aggregator/feeds/" + model.id + "/items/"]))
#enddefine

#define(details):
<dl>
    <dt>Id</dt>
    <dd>#(model.id)</dd>

    <dt>Image</dt>
    <dd><img src="#(model.imageKey.resolve())" class="size"></dd>
    
    <dt>Title</dt>
    <dd>#(model.title)</dd>

    <dt>URL</dt>
    <dd>#(model.url)</dd>
</dl>
#enddefine
#inline("Admin/Detail")
