#let(table = [
    "title": "Feed items",
    "key": "aggregator.feed.items",
    "create": false,
    "nav": [
        ["label": "Feed", "link": $req.url.path.trimLast()]
    ]
])


#var(columns = "1fr 200px")
#var(actions = 0)

#if(UserHasPermission("aggregator.feed.items.update")):
    #(columns += " 4rem")
    #(actions += 1)
#endif

#define(css):
tr {
    grid-template-columns: 1fr;
}
@media (min-width: 600px) {
    tr {
        grid-template-columns: #(columns);
    }
}
#enddefine

#define(breadcrumb):
    <a href="#($req.url.path.trimLast(2))">Feeds</a>
#enddefine


#define(body):
<div class="lead">
    <h1>#(table.title ?? "List")</h1>
    <p>
        #var(navItems = [])
        #if((table.create ?? true) && UserHasPermission(table.key + ".create")):
            #(navItems.append(["link": $req.url.path + "create/", "label": "Create new"]))
        #endif
        #for(navItem in navItems + table.nav ?? []):
            #if(!isFirst): &middot; #endif<a href="#(navItem.link)"#if(navItem.targetBlank ?? false): target="_blank"#endif>#(navItem.label)</a>
        #endfor
    </p>
</div>

#if(table.search ?? true):
<form id="search-form" action="#($req.url.path)" method="get">
    #if(Request(query: "sort") != nil):
    <input type="hidden" id="sort" name="sort" value="#Request(query: "sort")">
    #endif
    #if(Request(query: "order") != nil):
    <input type="hidden" id="order" name="order" value="#Request(query: "order")">
    #endif
    <input type="text" id="search" name="search" placeholder="Search..." value="#Request(query: "search")">
</form>
#endif

<table>
    <thead>
        <tr>
            #var(link = nil)
            <td class="field">URL</td>
            <td class="field last">Date</td>
            #if(UserHasPermission(table.key + ".update")):
            <td class="action">Visibility</td>
            #endif
        </tr>
    </thead>
    <tbody>

        #for(item in list.items):
        <tr>
            <td class="field">
                <a href="#(item.url)" target="_blank">#(item.title)</a>
            </td>

            <td class="field last">
                #Date(timeStamp: item.date, fixedFormat: $app.dateFormats.date, timeZone: $app.timezone)
            </td>

            #if(UserHasPermission(table.key + ".update")):
            <td class="action">
                <a id="#(item.id)" href="#($req.url.path)#(item.id)/toggle/">
                    #if(item.visibility == "visible"):#svg("eye")#else:#svg("eye-off")#endif
                </a>
            </td>
            #endif
        </tr>
        #endfor
    </tbody>
</table>
#enddefine

#inline("Admin/Index")



